main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

main > figure  {
  display: flex;
}

main > figure > img {
  width: 200px;
  background-color: rgba(255, 0, 0, 0.329);
  border-radius: 10px 0 0 10px;
  padding: 20px;
}

main > figure > figcaption.pokemon-data-container {
  background-color: red;
  margin: 0;
  padding: 20px;
  width: 200px;
  border-radius: 0 10px 10px 0;
}

main > figure > figcaption.pokemon-data-container > div {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  border-top: solid 2px black;
  margin-top: 10px;
  padding-top: 10px;
}

main > form {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.5rem;
}

main > form > button {
  background-color: red;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 0px 0 10px 10px;
  cursor: pointer;
}

main > form > input {
  padding: 10px;
  border-radius: 10px 10px 0 0;
  box-sizing: content-box;
  border: none;
}

main > h3 {
  position: absolute;
  align-self: center;
  bottom: 10%;
}